<% layout("layouts/boilerplate") %>
Campground "<%= campground.title %>, <%= campground.location %>" with ID of <%= campground._id %> deleted!

<p>
    <a href="/campgrounds">Return to all campgrounds</a>
</p>