<% layout("layouts/boilerplate") %>
<h1>Deleting <%= campground.title %>...?</h1>
ID: <%= campground._id %>
<p>
    Are you sure you wish to delete this campground?
</p>

<p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button>Yep! Delete it.</button>
</form>
</p>

<p>
    <a href="/campgrounds/<%= campground._id %>">No, return to campground</a>
</p>